*{
    font-family: Roboto, Arial, Helvetica;
}

.main-container{
    display:flex;
    flex-direction: column;
}

/* Header Section */
.container-one{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 48px;
    
}

h1{
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    display:flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Body Part 1 */
.container-two{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0px 50px;
    padding-bottom: 100px;
    gap: 40px
}

.container-two-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2{
    margin: 0;
    padding: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px
}

.container-two-subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.container-two-button{
    margin: 0;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight:bold;
    flex-shrink: 0;
    border-style: solid;
    border-color: #1F2937;
}

.container-two-image{
    width: 400px;
    flex-shrink: 0;
}

/* Body Part 2 */

.container-three{
    display: flex;
    flex-direction: column;
    padding-left: 96px;
    padding-right: 96px;
}

.container-three-header{
    margin: 0;
    padding: 20px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.container-three-row{
    display:flex;
    gap: 20px;
    justify-content: center;
}

.container-three-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoimage{
    flex: fit-content;
    max-width: 150px;
    max-height: 300px;
    margin: 0;
    padding: 0;
    outline: #3882F6;
}

.infoimagetext{
    text-align: center;
}

/* Body Part 3 */

.container-four{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote{
    margin:0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
.quotesayer{
    text-align: end;
    margin:0;
    font-size: 24px;
    font-weight: 600;
}

/* Body Part 4 */

.container-five {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    margin: 72px;
    padding: 24px 48px;
    border-radius: 5px;
    gap: 72px
}

.container-five-left{
    display: flex;
    flex-direction: column;
}

.container-five-header{
    color: #E5E7EB;
    margin: 0;
}

.container-five-subtext{
    color: #E5E7EB;
    margin: 0;
}

.container-five-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-five-button{
    margin: 0;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: solid;
    border-color: #F9FAF8;
}

/* Footer Section */

.container-six{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.container-six-text{
    color: #F9FAF8;
}